<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View All Student</title>
		<div th:replace="fragments/fragment :: links"></div>
	</head>
	<body>
		<div th:replace="fragments/fragment :: header"></div>
		<h1>All Students</h1>
	  		<table id="myTable2" class="display">
			    <thead>
			        <tr>
			        	<th>No</th>
			            <th>Id</th>
			            <th>Name</th>
			            <th>Credits</th>
			            <th>Action</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<div th:each="course,iterationStatus: ${courses}" th:class="${iterationStatus.odd}? 'odd'">
				        <tr>
				            <td><h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3></td>
				            <td><h3 th:text="'Id = ' + ${course.idCourse}"></h3></td>
				            <td><h3 th:text="'Name = ' + ${course.name}"></h3></td>
				            <td><h3 th:text="'Credits = ' + ${course.credits}"></h3></td>
				        
				            
				          
				            <td><a th:href="'/course/view/' + ${course.idCourse}" > View Detail</a></td>
				        </tr>
       				</div>
			    </tbody>
			</table>
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>
